# Data Preprocessing

## Objectives
1. Identify and handle missing values 
2. Describe how you would encode the Location variable using:
    - pd.get_dummies() to create one-hot encoded variables.
    - LabelEncoder from Scikit-learn's preprocessing module to assign numerical labels.
    - OneHotEncoder from Scikit-learn's preprocessing module to create one-hot encoded variables.

In [1]:
# Loading Libraries
import pandas as pd

# Loading the dataset
df = pd.read_excel(r'C:\Users\hp\OneDrive\Desktop\Data_Analyst\Loctech_House_Prices\Dataset\house_prices_dataset.xlsx')

# Display the dataset
df

    House_ID     Location  Size (sq ft)  Bedrooms  Bathrooms  Age  Price ($)
0          1      Houston          1751         3          3   26     990617
1          2      Phoenix           834         2          3   29     647337
2          3      Chicago           900         4          1   22     834965
3          4      Phoenix          1479         1          1   26     460260
4          5      Phoenix          1629         3          3   26     983811
..       ...          ...           ...       ...        ...  ...        ...
95        96      Chicago          1451         1          3    7     406955
96        97      Phoenix           843         4          3    4     267280
97        98  Los Angeles          1308         1          2    1     775510
98        99  Los Angeles          1924         2          3    5     695468
99       100     New York          1847         1          1   23     798646

[100 rows x 7 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   House_ID      100 non-null    int64
 1   Location      100 non-null    object
 2   Size (sq ft)  100 non-null    int64
 3   Bedrooms      100 non-null    int64
 4   Bathrooms     100 non-null    int64
 5   Age           100 non-null    int64
 6   Price ($)     100 non-null    int64
dtypes: int64(6), object(1)
memory usage: 5.6+ KB

- Identifying and handling missing values

In [3]:
# Data Cleanup

# Check for missing values
print("Missing Values:\n", df.isnull().sum())

# Check for duplicate rows
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# Check unique values in 'Location' column for consistency
print("Unique Locations:\n", df['Location'].unique())

# Check for outliers in numerical columns
print(df.describe())

Missing Values:
 House_ID        0
Location        0
Size (sq ft)    0
Bedrooms        0
Bathrooms       0
Age             0
Price ($)       0
dtype: int64
Number of duplicate rows: 0
Unique Locations:
 ['Houston' 'Phoenix' 'Chicago' 'Los Angeles' 'New York']
         House_ID  Size (sq ft)    Bedrooms   Bathrooms         Age  \
count  100.000000    100.000000  100.000000  100.000000  100.000000
mean    50.500000   1439.840000    2.700000    2.020000   16.150000
std     29.011492    361.364298    1.176367    0.816249    8.539126
min      1.000000    701.000000    1.000000    1.000000    1.000000
25%     25.750000   1197.500000    2.000000    1.000000    8.000000
50%     50.500000   1445.000000    3.000000    2.000000   16.500000
75%     75.250000   1752.250000    4.000000    3.000000   23.000000
max    100.000000   1991.000000    4.000000    3.000000   29.000000

           Price ($)
count     100.000000
mean   571194.690000
std    275593.473039
min    103267.000000
25%    317084.250000
50%    624301.000000
75%    792982.750000
max    992323.000000

- Creating one-hot encoded variables with pd.get_dummies()

In [4]:
# One-hot encoding with pd.get_dummies()
df_dummies = pd.get_dummies(df, columns=['Location'], prefix='Location')

# Display the resulting DataFrame
print(df_dummies.head())

   House_ID  Size (sq ft)  Bedrooms  Bathrooms  Age  Price ($)  \
0         1          1751         3          3   26     990617
1         2           834         2          3   29     647337
2         3           900         4          1   22     834965
3         4          1479         1          1   26     460260
4         5          1629         3          3   26     983811

   Location_Chicago  Location_Houston  Location_Los Angeles  \
0             False              True                 False
1             False             False                 False
2              True             False                 False
3             False             False                 False
4             False             False                 False

   Location_New York  Location_Phoenix
0              False             False
1              False              True
2              False             False
3              False              True
4              False              True

- LabelEncoder from Scikit-learn's preprocessing module to assign numerical labels.

In [5]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Encode the 'Location' column
df['Location_Label'] = label_encoder.fit_transform(df['Location'])

# Display the mapping and updated DataFrame
print("Mapping:", dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_))))
print(df.head())

Mapping: {'Chicago': 0, 'Houston': 1, 'Los Angeles': 2, 'New York': 3, 'Phoenix': 4}
   House_ID Location  Size (sq ft)  Bedrooms  Bathrooms  Age  Price ($)  \
0         1  Houston          1751         3          3   26     990617
1         2  Phoenix           834         2          3   29     647337
2         3  Chicago           900         4          1   22     834965
3         4  Phoenix          1479         1          1   26     460260
4         5  Phoenix          1629         3          3   26     983811

   Location_Label
0               1
1               4
2               0
3               4
4               4

- OneHotEncoder from Scikit-learn's preprocessing module to create one-hot encoded variables.

In [6]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse_output=False, drop=None)

# Fit and transform the 'Location' column
location_encoded = one_hot_encoder.fit_transform(df[['Location']])

# Convert the result into a DataFrame
location_encoded_df = pd.DataFrame(location_encoded, columns=one_hot_encoder.get_feature_names_out(['Location']))

# Concatenate with the original DataFrame
df_one_hot = pd.concat([df, location_encoded_df], axis=1)

# Display the resulting DataFrame
print(df_one_hot.head())

   House_ID Location  Size (sq ft)  Bedrooms  Bathrooms  Age  Price ($)  \
0         1  Houston          1751         3          3   26     990617
1         2  Phoenix           834         2          3   29     647337
2         3  Chicago           900         4          1   22     834965
3         4  Phoenix          1479         1          1   26     460260
4         5  Phoenix          1629         3          3   26     983811

   Location_Label  Location_Chicago  Location_Houston  Location_Los Angeles  \
0               1               0.0               1.0                   0.0
1               4               0.0               0.0                   0.0
2               0               1.0               0.0                   0.0
3               4               0.0               0.0                   0.0
4               4               0.0               0.0                   0.0

   Location_New York  Location_Phoenix
0                0.0               0.0
1                0.0               1.0
2                0.0               0.0
3                0.0               1.0
4                0.0               1.0

In [ ]:
# Saving the cleaned dataset
df_one_hot = pd.read_excel('df_one_hot.xlsx')